/* CSS reset */
* {
    padding: 0%;
    margin: 0%;
}

h1 {
    padding: 0 40px 40px 40px;
    text-align: center;
    font-size: 40px;
    color: rgb(9, 92, 122);
}

body{
    background: linear-gradient(to right, rgb(157, 234, 244), rgb(254, 206, 214));
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    height: 100vh;

}

button {
    /* Reset the button's border */
    border: none;
}

.calculator {
    display: grid;
    justify-content: center;

}
.display {
    
    background: rgb(140, 190, 208);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: right;
    box-shadow: 5px 5px 5px rgba(14, 14, 14, 0.331);
    word-wrap: break-word;
    word-break: break-all;
} 
.output {
    font-size: 28px;
    padding: 20px;
}
.result {
    font-size: 20px;
    padding: 25px;
}
.input {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.input button {
    cursor: pointer;
    padding: 18px;
    font-size: 20px;
    border: 1px solid rgb(251, 242, 232);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 5px rgba(14, 14, 14, 0.331);   
}
button:hover{
    font-weight: bolder;
    background-color:rgb(254, 206, 214); 
}

@media screen and (max-width: 600px) {
    .calculator {
    }
}
/* @keyframes big {
    0% {
        font-size: 18px;
    }
    100% {
        font-size: 30px;
    }
}
@keyframes small {
    0% {
        font-size: 18px;
    }
    100% {
        font-size: 30px;
    }
} */