/* CSS reset */
* {
    padding: 0%;
    margin: 0%;
}

button {
    /* Reset the button's border */
    border: none;
}

body{
    background: rgb(106, 140, 167);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 5px 5px 5px rgba(14, 14, 14, 0.331);
}
.display {
    background: rgb(114, 114, 114);
    color: white;
    font-weight: bolder;
    text-align: right;
    padding: 10px;
} 
.output {
    font-size: 28px;
    padding: 22px;
}
.result {
    font-size: 18px;
    padding: 25px;
}
.input {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.input button {
    padding: 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;    
}
button:hover{
    font-weight: bolder;
}

@keyframes big {
    0% {
        font-size: 18px;
    }
    100% {
        font-size: 30px;
    }
}
@keyframes small {
    0% {
        font-size: 18px;
    }
    100% {
        font-size: 30px;
    }
}